<% provide(:title, "#{@schedule.name}") %>

<h1><%= "#{@schedule.name}" %></h1>

<div class="col-md-3 center">
	<%= link_to "Add Piece", new_schedule_piece_path(@schedule) %>
</div>
<div class="col-md-2 center">
	<%= link_to "View Schedule", view_schedule_path(@schedule) %>
</div>
<div class="col-md-2 center">
	<%= link_to "Schedule Settings", edit_schedule_path(@schedule), method: :get %>
</div>
<div class="col-md-2 center">
	<%= link_to "Contacts", contacts_path %>
</div>
<div class="col-md-3 center">
	<%= link_to "Locations", locations_path %>
</div>

<div class="center">
	<h3> Pieces </h3>
	<%= will_paginate @pieces %>
	<ol class="pieces">
	  <%= render @pieces %>
	</ol>
	<%= button_to "Schedule!", view_schedule_path(@schedule) %>
</div>