<% provide(:title, "#{@piece.title}") %>

<h1><%= "#{@piece.title}" %></h1>
<div class="center">
	<h5>Title: <%= "#{@piece.title}" %></h5>
	<h5>Length: <%= "#{@piece.length}" %></h5>
	<h5>Setup: <%= "#{@piece.setup}" %></h5>
	<h5>Cleanup: <%= "#{@piece.cleanup}" %></h5>
	<h5>Location: <%= if @piece.location.nil? 
											"No location selected"
										else 
											"#{@piece.location.name}" 
										end %>
	</h5>
	<h5>Rating: <%= "#{@piece.rating}" %></h5>
	<h5>Number of running times: <%= "#{@piece.scheduled_times.count}" %>
	<h5> Participants: </h5>
	<% @piece.contacts.each do |person| %>
		<h5><%= person.name %> </h5>
		<% end %>
</div>