<% provide(:title, 'Contacts') %>
<div class="container">
  <h3 class="center">Contacts (<%= @contacts.count %>)</h3>
  <%= form_for @contact do |f| %>
    <div class="center"><%= render 'shared/error_messages', object: f.object %></div>
    <div class="form-group row">
      <div class="col-md-2 col-md-offset-2"><%= f.text_field  :name, class: "form-control", placeholder: "Name" %></div>
      <div class="col-md-3"><%= f.email_field :email, class: "form-control", placeholder: "Email" %></div>
      <div class="col-md-2"><%= f.submit "Add Contact", class: "btn btn-primary form-control" %></div>
      <div class="col-md-1"><%= link_to "Back", previous_url, class: "btn btn-primary form-control" %></div>
    </div>
  <% end %>
  <% if @contacts.any? %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <table class="contacts table table-striped table-hover">
        	<tr>
            <th>Name</th>
            <th colspan=2>Email</th>
          </tr>
          <%= render @contacts %>
      	</table>
      	<div class="center"><%= will_paginate @contacts %></div>
      </div>
    </div>
  <% end %>
</div>